<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Gastos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/style/estilos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Menu</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../views/menu.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/registrodegastos.html">Registro Gastos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/gastos.html">Gastos</a>
                        </li>
                    </ul>
                </div>
            </div>
    </header>
    </nav>
    <section class="banner text-center text-white">
        <h2>Diario de Gastos</h2>
        <p>Bienvenidos a nuestra web Diario de Gastos</p>
        <p>Es una herramienta donde podrás registrar, rastrear, organizar y analizar tus gastos financieros.
            Su objetivo principal es facilitar la gestión del dinero y promover hábitos de gasto responsables,
            permitiendo a los usuarios tener un control más claro sobre sus finanzas.</p>
        <button class="btn btn-primary">Ver más</button>
    </section>
    <section class="hero-section">
        <div class="text-center">
            <h1>Gastos Diarios</h1>
            <p>Esta página tiene como objetivo llevar un registro detallado de tus gastos diarios clave para mantener un
                presupuesto equilibrado y tomar decisiones financieras informadas.</p>
        </div>
    </section>
    <section class="container my-5">
        <div class="row text-center">
            <div class="col-12 col-md-4">
                <h3 class="text-center">AHORRO</h3>
                <img src="../../assets/img/ahorro.gif" alt=""
                    class="img-fluid w-50 mx-auto d-block">
                <p class="mt-3">Ahorrar no solo es una forma de prever imprevistos, sino también un camino hacia la
                    estabilidad y el logro de tus metas a largo plazo. Con nuestra herramienta de ahorro, te ofrecemos
                    una manera simple y eficaz</p>
            </div>
            <div class="col-12 col-md-4">
                <h3>ANALISIS</h3>
                <img src="../../assets/img/analisis.gif" alt=""
                    class="img-fluid w-50 mx-auto d-block">
                <p class="mt-3">Entender cómo y en qué gastas tu dinero es el primer paso para optimizar tus finanzas
                    personales. Con nuestra herramienta de análisis de gastos, podrás obtener una visión clara y
                    detallada de tus movimientos financieros.</p>
            </div>
            <div class="col-12 col-md-4">
                <h3>PROYECCION</h3>
                <img src="../../assets/img/Proyeccion.gif" alt=""
                    class="img-fluid w-50 mx-auto d-block">
                <p class="mt-3">La proyección financiera es una herramienta clave para tomar decisiones informadas sobre
                    tus finanzas. Con nuestras proyecciones personalizadas, podrás tener una visión clara de tu futuro
                    económico y trazar un camino hacia tus metas.</p>
            </div>
        </div>
    </section>
    <br>
    <hr>
    <section class="container my-5 ">
        <div class="row justify-content-center">
            <div class="col-12 col-md-5">
                <img src="../../assets/img/felicidad.png" alt="" class="img-fluid">
            </div>
            <div class="col-12 col-md-5 text-center">
                <h3>REGISTRATE</h3>
                <form class="border rounded p-4 shadow">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Correo</label>
                        <input type="email" class="form-control">
                    </div>
                    <div>
                        <label for="exampleInputEmail1" class="form-label">Contraseña</label>
                        <input type="password" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Ciudad</label>
                        <input type="text" class="form-control">
                    </div>
                    <button class="btn btn-outline-primary">Registrar</button>
                </form>
            </div>
        </div>
    </section>
    <footer class="container-fluid g-0 p-5 bg-dark text-white">
        <div class="row">
            <div class="row text-center">
                <div class="col">
                    <a href="#contacto" class="text-white text-decoration-none">
                        <img src="../../assets/img/usuario.png" alt="Nombre"
                            class="footer-icon"> Alejandro Gaviria
                    </a>
                </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <a href="https://github.com/Codehagaviria" target="_blank" class="text-white text-decoration-none">
                        <img src="../../assets/img/github.png" alt="GitHub"
                            class="footer-icon"> @Codehagaviria
                    </a>
                </div>
                <div class="col">
                    <a href="#contacto" class="text-white text-decoration-none">
                        <img src="../../assets/img/usuario.png" alt="Nombre"
                            class="footer-icon"> Sandra Arboleda
                    </a>
                </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <a href="https://github.com/rulossan" target="_blank" class="text-white text-decoration-none">
                        <img src="../../assets/img/github.png" alt="GitHub"
                            class="footer-icon"> @Coderulossan
                    </a>
                </div>
                <div class="col">
                    <a href="#contacto" class="text-white text-decoration-none">
                        <img src="../../assets/img/usuario.png" alt="Nombre"
                            class="footer-icon"> Ana Zapata
                    </a>
                </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <a href="https://github.com/ana-zapata" target="_blank" class="text-white text-decoration-none">
                        <img src="../../assets/img/github.png" alt="GitHub"
                            class="footer-icon"> @Codeana-zapata
                    </a>
                </div>
                <div class="col">
                    <a href="#contacto" class="text-white text-decoration-none">
                        <img src="../../assets/img/usuario.png" alt="Nombre"
                            class="footer-icon"> Ximena Martinez
                    </a>
                </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <a href="#" target="_blank" class="text-white text-decoration-none">
                        <img src="../../assets/img/github.png" alt="GitHub"
                            class="footer-icon"> @Code
                    </a>
                </div>
                <div class="row justify-content-end">
                    <div class="col-auto d-flex align-items-center">
                        <img src="../../assets/img/certificado.png" alt="ISO 9001"
                            class="footer-icon mb-2" style="width: 60px; height: 60px" ;>
                        <a href="/path/to/politic" class="text-white text-decoration-none text-pequeño ml-2">
                            Política de Tratamiento y Protección de Datos Personales
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-6 border-start">
                    <i class="bi bi-github fs-1"></i>
                    <i class="bi bi-twitch fs-1"></i>
                </div>
            </div>
        </footer>

</body>

</html>